.fundo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #000000 40%, rgb(170, 14, 14) 100%);
  z-index: -10;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center; 
    font-family: Arial;
  }
  
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: Arial;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    font-family: Arial;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
    font-family: Arial;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: #00000000;
    border-style: none;
  }
  
  .login-box button:hover {
    background: #b90505;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #b90505,
                0 0 25px #b90505,
                0 0 50px #b90505,
                0 0 100px #b90505;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8b1919);
    animation: btn-anim1 2s linear infinite;
    font-family: Arial;
  }


  footer {
    font-family: Arial;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #000000 40%, rgb(170, 14, 14) 100%);
  z-index: -10;
}

header {
  font-family: Arial;
  padding: 30px;
  background: transparent;
  border-radius: 10px;
}

header p {
  color: #fff;
}


.imgHome{
  display: block;
  margin: -250px auto 0;
  transform: scale(0.8)
}

.imgIndex{
  display: block;
  transform: scale(0.8)
}
